{% load static %} 

<!DOCTYPE html>


<html>

    <script type="text/javascript">
        function redireciona1(){window.location.assign ("../cadastrar");}
        function redireciona2(){window.location.assign ("../remover");}
        function redireciona3(){window.location.assign ("../atualizar");}
        function redireciona4(){window.location.assign ("../consultar");}
        function redireciona5(){window.location.assign ("../login");}
    </script>

    <head>Tela do crud</head>

    <body>
        <button onclick="redireciona1()" type="button" id="atraso">Cadastrar</button>
        <button onclick="redireciona2()" type="button" id="atraso">Remover</button>
        <button onclick="redireciona3()" type="button" id="atraso">Atualizar</button>
        <button onclick="redireciona4()" type="button" id="cancela">Consultar</button>
        <button onclick="redireciona5()" type="button" id="cancela">Sair</button>
    </body>

</html>