<!doctype html>
<html lang="pt-br">

<script type="text/javascript">
    function redireciona() { window.location.assign("../login"); }
</script>

<head>
    <link href="../static/create.css" rel="stylesheet">
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">
    <script src="../static/js/form-validation.js"></script>
    <script src="../static/js/bootstrap.bundle.min.js"></script>
</head>

<body>
    <div class="py-5 text-center">
        <h2>Erro no Cadastro</h2>
        <p class="lead">Aconteceu algum erro inesperado.</p>
        <button type="button" class="w-30 btn btn-primary btn-lg" onclick="redireciona()">Voltar</button>
        <footer class="text-muted py-5">
            <p class="mb-1">&copy; MEAU Copyright 2022.</p>
    </div>
    </footer>
</body>

</html>