<!DOCTYPE html>


<html>

    <script type="text/javascript">
        function redireciona1(){window.location.assign ("relatorio");}
        function redireciona2(){window.location.assign ("reports");}
    </script>


    <head>Tela de preenchimento dos parâmetros para gerar um relatório com os dados sobre atrasos de voos</head>

    <body>
        <button onclick="redireciona1()" type="button" id="confirma">Buscar</button>
        <button onclick="redireciona2()" type="button" id="confirma">Cancelar</button>
    </body>

</html>