<!DOCTYPE html>


<html>

    <script type="text/javascript">
        function redireciona(){window.location.assign ("preenchimentoAtrasos");}
        function redireciona1(){window.location.assign ("preenchimentoCancelamentos");}
        function redireciona2(){window.location.assign ("login");}
    </script>

    <head>Tela de relatórios</head>

    <body>
        <button onclick="redireciona()" type="button" id="atraso">Atrasos</button>
        <button onclick="redireciona1()" type="button" id="cancela">Cancelamentos</button>
        <button onclick="redireciona2()" type="button" id="cancela">Sair</button>
    </body>

</html>