<!DOCTYPE html>


<html>

    <script type="text/javascript">
        function redireciona(){window.location.assign ("preenchimento");}
        function redireciona1(){window.location.assign ("homepage");}
    </script>

    <head>Tela de relatórios</head>

    <body>
        <button onclick="redireciona()" type="button" id="atraso">Atrasos</button>
        <button onclick="redireciona()" type="button" id="cancela">Cancelamento</button>
        <button onclick="redireciona1()" type="button" id="cancela">Voltar</button>
    </body>

</html>